RewriteOptions inherit
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /project-freelance/jobs/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /project-freelance/Development/job-engineer/index.php  [L]
</IfModule>

