body { background:  #333;}
.sbHolder {background: none repeat scroll 0 0 #b74702;border: 1px dotted #b74702;}
.sbOptions a:link, .sbOptions a:visited {color: #333;}
.sbOptions a:hover {color: #b74702;}
.sbOptions {border: 1px solid #b74702;}

#line {
    background:  #333 ;
    box-shadow: 0 0;
}
/* =Anchors
---------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .pagetitle { color: #ff4e00;}
a:hover, a:focus {color: #333;	text-decoration: none;}

.sbOptions a:link, .sbOptions a:visited {  color: #333;}
a:hover, .sbOptions a:hover  {  color: #f24b01;}
#content h1,.counter , #dashboard h3,.tabcontrol li.tab a , .section_footer li a , span.detail { /*color: #54a901;*/ color:#000; }
#col li.cato span {color: #0099FF;}
#backtotop {background: #f24b01 url("../images/arri.png") center center no-repeat ; border: 1px solid #f24b01 }
.tp-bullets.simplebullets.round .selected {border-color:#f24b01 ;  background: #f24b01}
/* =Header
---------------------------------------------------------------------------------- */
#logo a, .tito h2.title  {color: #ff4e00;}
#searchform-s input#search-no, #searchform-s input, #searchform-s input#near-no {border-color: #b74f10}

/* =Navigation
---------------------------------------------------------------------------------- */

#topNav li.current-menu-item a,#topNav li.current_page_item a,#topNav li a:hover,#topNav li a:focus{color: #FF4E00}
.menus-s li {background:url(../images/style-pro-orange/spliter.jpg) no-repeat right 2px; }
.menus-s li.dashboard {background:url(../images/style-pro-orange/spliter.jpg) no-repeat left 2px; }
.menus-s {
    background: #333;
}

.under-menu {  /*background: url("../images/under-menu.png") repeat-x scroll 0 0 #F85F02;*/}
.header-ino {  /*background: url("../images/header-bg.png") repeat scroll 0 0 #F85F02;*/ background:#F68220 !important;}
#content h2.home-title , .menus-s li a:hover {  color: #F85F02;}


.menu-head { background: #f24b01; }


#content h2.home-title {  color: #0298de;}

/* =Pagination
---------------------------------------------------------------------------------- */
.pagination-s .current , .pagination-s a:hover{background: #ff4e00;}



div#icon5 a {  background: url("../images/style-pro-orange/icon5.jpg") no-repeat scroll 0 0 transparent;}
div#icon5 a:hover{background:url(../images/style-pro-orange/icon5.jpg) no-repeat 0 -40px ; }
div#icon1 a, div#icon2 a ,div#icon3 a, div#icon4 a  {background:url('../images/style-pro-orange/ico.jpg') no-repeat;}
div#icon2 a    {background:url('../images/style-pro-orange/ico.jpg') -37px 0;margin-left: 3px}
div#icon3  a   {background:url('../images/style-pro-orange/ico.jpg') -73px 0 no-repeat;margin-left: 3px}
div#icon4  a   {background:url('../images/style-pro-orange/ico.jpg')  -109px 0 no-repeat;margin-left: 3px}
div#icon1 a:hover    {background:url('../images/style-pro-orange/ico.jpg') 0 -26px no-repeat;}
div#icon2 a:hover    {background:url('../images/style-pro-orange/ico.jpg') -37px -26px no-repeat;}
div#icon3  a:hover   {background:url('../images/style-pro-orange/ico.jpg') -73px -26px no-repeat;}
div#icon4  a:hover   {background:url('../images/style-pro-orange/ico.jpg')  -109px -26px no-repeat;}


/* =Lists
---------------------------------------------------------------------------------- */
ol.jobs dd strong a {color: #ff4e00;}
#titlo a,#titlo-featured a,#titlo-indeed a , ol.jobs li.job-expired a{color:#ff4e00 !important;}
#titlo a:hover, #titlo-featured a:hover, #titlo-indeed a:hover  a:hover , ol.jobs li.job-expired a:hover{color:#473324 !important;}
#titlo-featured a{color:#ff4e00!important;}
#titlo-featured a:hover{color:#473324 !important;}
.section_footer li a:hover{color:#555;}
.details li#topss a:hover{color:#333}
#titlo-featured a, #details-f a  , #titlo a , #titlo-indeed a, #details2 a  {color: #e75700;}
#titlo-featured a:hover, #details-f a:hover ,#titlo-indeed a:hover, #titlo a:hover, #details2 a:hover  {color: #333;}

ol.jobs li.job-featured {background: #FDF6E9; border: 1px solid #FBD58D }
ol.jobs li.job-featured.job-alt {background: #FFFBF5; border: 1px solid #FFDCA0 }

#titlo a, #titlo-featured a, #details-2 a, #details-f a {color: #0099FF !important}



/* =Sidebar
---------------------------------------------------------------------------------- */
.widget_content ul li a:hover , ul.widgets li.widget li.menu-item  a:hover{color:#0469d0}
.widget_content ul.pop li a{background:#fff url(../images/style-pro-orange/arr.gif) no-repeat 5px 12px;}
.widget_content ul li,.widget_content ul.pop li{background: url(../images/style-pro-orange/arr.gif) no-repeat 5px center;display:text-decoration:none!important;color:#666;padding-left: 13px;}
ul.widgets li.widget.widget-nav div ul li a{background: url(../images/style-pro-orange/arr.gif) no-repeat 5px 12px;}
ul.widgets li.widget.widget-nav div ul li a.top{background: url(../images/style-pro-orange/arr.gif) no-repeat 5px 12px;}
.widget_archive ul li, .widget_links ul li, .widget_recent_entries ul li, .widget_recent_comments ul li, .widget_meta ul li, .widget_rss ul li, .widget_categories ul li, .widget_pages ul li, .widget_job_categories ul li, .widget_top_ads_overall ul li, .widget_top_ads ul li, .widget_user_options ul li , .widget_top_listings ul li , ul.widgets li.widget li.menu-item a  {}
.cf-column ul li{background: url(../images/style-pro-orange/arr.gif) no-repeat 0px 12px;}


/*  Sidebar Buttons */
#searchform-s .search-wrap-no2 button.submit, a.button-s {background:#f68220;color: #fff;text-decoration: none;
/*background: -webkit-gradient(linear, left top, left bottom, from(#e96301), to(#d45a01));  
background: -moz-linear-gradient(center top , #e96301 0%, #d45a01 100%) repeat scroll 0 0 transparent; border: 1px solid #be5202; box-shadow: 0 1px 0 0 #fbac58 inset;*/ text-decoration: none;}
a.button-s:hover {background:#F68220; /*background: -moz-linear-gradient(center top , #ff6d03 0%, #e46203 100%) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, left top, left bottom, from(#ff6d03), to(#e46203)); */ 
 color: #692602;border: 1px solid #F68220;}


/* Footer
-----------------------------------------------------------*/
div#footer a:hover ,  ul.widgets li.widget.widget-nav div ul li ul li a:hover {color: #ff4e00;}